#include "corchibi.dtsi"
#include <dt-bindings/zmk/pointing.h>

&uicr {
    nfct-pins-as-gpios;
};

&xiao_serial { status = "disabled"; };

&kscan0 {
    gpios
        = <&xiao_d 1 GPIO_ACTIVE_HIGH>  // IO 0 (P0.03)
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>  // IO 1 (P0.28)
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>  // IO 2 (P0.29)
        , <&xiao_d 6 GPIO_ACTIVE_HIGH>  // IO 3 (P1.11)
        , <&xiao_d 10 GPIO_ACTIVE_HIGH> // IO 4 (P1.15)
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>  // IO 5 (P1.14)
        ;
    interrupt-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // INTR (P1.13)
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 10)>;
            bias-pull-up;
        };
    };
    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 10)>;
            low-power-enable;
            bias-pull-up;
        };
    };
};

&gpio0 {
    pat_ncs {
        gpio-hog;
        gpios = <4 GPIO_ACTIVE_HIGH>;
        output-high;
    };
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    trackball: trackball@79 {
        compatible = "pixart,pat912x";
        reg = <0x79>;
        status = "disabled"; // センサーを取り付けるまでは無効化します
        motion-gpios = <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        res-x-cpi = <600>;
        res-y-cpi = <600>;
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
        sleep1-enable;
        sleep2-enable;
    };
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        status = "disabled"; // こちらも合わせて無効化します
    };
};