#include "corchibi.dtsi"

&uicr {
    nfct-pins-as-gpios;
};

/* ZMK mainの仕様に合わせて不要な通信機能を停止 */
&uart0 { status = "disabled"; };
&spi2 { status = "disabled"; };
&i2c1 { status = "disabled"; };

&kscan0 {
    /* 100%正解だった元のピン指定に戻します */
    gpios
        = <&xiao_d 1 GPIO_ACTIVE_HIGH>  // IO 0 (P0.03)
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>  // IO 1 (P0.28)
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>  // IO 2 (P0.29)
        , <&xiao_d 6 GPIO_ACTIVE_HIGH>  // IO 3 (P1.11)
        , <&xiao_d 10 GPIO_ACTIVE_HIGH> // IO 4 (P1.15)
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>  // IO 5 (P1.14)
        ;
    /* 割り込みピンによるフリーズを疑い、一時的に無効化して検証します */
    // interrupt-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // INTR (P1.13)
};