if SHIELD_CORCHIBI_R

config ZMK_KEYBOARD_NAME
    default "Corchibi"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORCHIBI_L

config ZMK_KEYBOARD_NAME
    default "Corchibi"

config ZMK_SPLIT
    default y

endif